/*General*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #929292;
}

h1,h2,h3,h4,h5{
    line-height: 24px;
    color: #000000;
}

h1{
    font-size: 36px;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h4{
    font-size: 24px;
    font-weight: 500;
}

h5{
    font-size: 18px;
    font-weight: 500;
}

/*Header*/
.header{
    background-color: #f5fcfd;
    position: relative;
    background-image: url("./static/img/Header-background.svg");

}

/*Header-Nav*/
.header-nav{
    max-width: 1640px;
    padding: 0;
    margin: auto;
}

.header-nav .navbar-brand{
    padding: 0;
    height: 100px;
    width: 179px;
    background-color: #0f7bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 22px 22px;
}

.header-nav h1{
    margin-bottom: 0;
    color: #ffffff;

}

.header-nav ul{
    min-width: 353px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.header-nav li{
    padding: 0;
}

.header-nav-link{
    padding: 0;
    color: #929292;
    font-weight: 500;
}

.header-nav-link:hover{
    color: #0f7bff;
    text-decoration: none;
}

/*Header-Nav-Button*/
.header-nav-controls{
    max-width: 571px;
}

/*Header-Nav-Button*/
.header-nav-button{
    height: 50px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0063dd;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-nav-button:hover{
    color: #ffffff;
}

@media all and (max-width: 960px){
    .header-nav ul {
        min-width: 0;
    }

    .header-nav-controls{
        max-width: none;
    }
}

/*Header-Promo*/
.header-promo{
    text-align: center;
    max-width: 612px;
    margin: 106px auto 0 auto;
}

.header-promo h1{
    margin-bottom: 0;
}

.header-promo p{
    margin-top: 32px;
    margin-bottom: 0;
}

/*Header-Promo-Buttons*/
.header-promo-buttons{
    margin-top: 37px;
    display: flex;
    justify-content: center;
}

.header-promo-buttons a{
    height: 50px;
    width: 165px;
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-width: 2px;
}

/*Header-Device*/
.header-device{
    margin-top: 30px;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 584px;
    background-image: url("./static/img/Device.png");
}

/*Header-Scroll*/
.header-scroll{
    height: 70px;
    width: 70px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    position: absolute;
    right: calc(50% - 35px);
    bottom: -35px;
}

/*Main*/
.main{

}

/*Main-Cards*/
.main-cards{
    background-color: #f5fcfd;
    padding-top: 165px;
    padding-bottom: 130px;
}

.main-cards .row{
    max-width: 1170px;
    margin: auto;
}

/*Main-Cards-Card*/
.main-cards-card{
    margin-top: 50px;
    box-shadow: 0 0 25px #f0f0f0;
    max-width: 360px;
    border-radius: 5px;
    padding: 40px 31px 40px 31px;
    background-color: #ffffff;
    text-align: center;
}

.main-cards-card h5{
    margin-top: 30px;
    margin-bottom: 0;
}

.main-cards-card p{
    margin-top: 25px;
    margin-bottom: 0;
}

/*Main-About*/