/*General*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #929292;
}

h1,h2,h3,h4,h5{
    line-height: 24px;
    color: #000000;
}

h1{
    font-size: 36px;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h4{
    font-size: 24px;
    font-weight: 500;
}

h5{
    font-size: 18px;
    font-weight: 500;
}

/*Header*/
.header{
    background-color: #f5fcfd;
    position: relative;
    background-image: url("./static/img/Header-background.svg");

}

/*Header-Nav*/
.header-nav{
    max-width: 1640px;
    padding: 0;
    margin: auto;
}

.header-nav .navbar-brand{
    padding: 0;
    height: 100px;
    width: 179px;
    background-color: #0f7bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 22px 22px;
}

.header-nav h1{
    margin-bottom: 0;
    color: #ffffff;

}

.header-nav ul{
    min-width: 353px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.header-nav li{
    padding: 0;
}

.header-nav-link{
    padding: 0;
    color: #929292;
    font-weight: 500;
}

.header-nav-link:hover{
    color: #0f7bff;
    text-decoration: none;
}

/*Header-Nav-Button*/
.header-nav-controls{
    max-width: 571px;
}

/*Header-Nav-Button*/
.header-nav-button{
    height: 50px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0063dd;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-nav-button:hover{
    color: #ffffff;
}

@media all and (max-width: 960px){
    .header-nav ul {
        min-width: 0;
    }

    .header-nav-controls{
        max-width: none;
    }
}

/*Header-Promo*/
.header-promo{
    text-align: center;
    max-width: 612px;
    margin: 106px auto 0 auto;
}

.header-promo h1{
    margin-bottom: 0;
}

.header-promo p{
    margin-top: 32px;
    margin-bottom: 0;
}

/*Header-Promo-Buttons*/
.header-promo-buttons{
    margin-top: 37px;
    display: flex;
    justify-content: center;
}

.header-promo-buttons a{
    height: 50px;
    width: 165px;
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-width: 2px;
}

/*Header-Device*/
.header-device{
    margin-top: 30px;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 584px;
    background-image: url("./static/img/Device.png");
}

/*Header-Scroll*/
.header-scroll{
    height: 70px;
    width: 70px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    position: absolute;
    right: calc(50% - 35px);
    bottom: -35px;
}

/*Main*/
.main{

}

/*Main-Cards*/
.main-cards{
    background-color: #f5fcfd;
    padding-top: 165px;
    padding-bottom: 130px;
}

.main-cards .row{
    max-width: 1170px;
    margin: auto;
}

/*Main-Cards-Card*/
.main-cards-card{
    margin-top: 50px;
    box-shadow: 0 0 25px #f0f0f0;
    max-width: 360px;
    border-radius: 5px;
    padding: 40px 31px 40px 31px;
    background-color: #ffffff;
    text-align: center;
}

.main-cards-card h5{
    margin-top: 30px;
    margin-bottom: 0;
}

.main-cards-card p{
    margin-top: 25px;
    margin-bottom: 0;
}

/*Main-About*/
.main-about{

}

.main-about .row{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.main-about h2{
    margin-top: 225px;
    margin-bottom: 0;
    font-weight: 500;
}

.main-about p{
    margin-top: 33px;
    margin-bottom: 0;
    max-width: 544px;
}

.main-about a{
    display: flex;
    justify-content: space-between;
    width: 104px;
    margin-top: 38px;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 500;
}

/*Main-About-Img*/
.main-about-img{
    width: 100%;
    max-width: 399px;
    margin-top: 130px;
}

/*Main-HowTo*/
.main-howto{
    margin-top: 130px;
    padding-top: 151px;
    padding-bottom: 127px;
    background-color: #f5fcfd;
}

/*Main-HowTo-Header*/
.main-howto-header h2{
    font-weight: 500;
}

.main-howto-header p{
    margin-top: 39px;
    margin-bottom: 0;
    max-width: 731px;
}

/*Main-HowTo-Cards*/
.main-howto-cards{
    margin-top: 47px;
}

.main-howto-cards ul{
    list-style: none;
}

.main-howto-cards li:first-child:after{
    content: "";
    border: 1px dotted #0f7bff;
    height: 1px;
    position: absolute;
    top: 50px;
    left: Calc(11% + 50px);
    width: 70%;
    z-index: 0;
}

.main-howto-cards h5{
    margin-top: 31px;
    margin-bottom: 0;
}

.main-howto-cards p{
    margin-top: 29px;
    margin-bottom: 0;
    max-width: 296px;
}


/*Main-Pricing*/
.main-pricing{

}

/*Main-Pricing-Head*/
.main-pricing-head{
    margin-top: 165px;
}

.main-pricing-head h2{
    font-size: 32px;
    margin-bottom: 0;
    font-weight: 500;
}

.main-pricing-head p{
    margin-top: 33px;
    margin-bottom: 0;
}

.main-pricing-head div{
    margin-top: 37px;
    max-width: 330px;
    width: 100%;
}

.main-pricing-head a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    max-width: 165px;
    height: 50px;
    border-width: 2px;
}

.main-pricing-head a:first-child{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.main-pricing-head a:last-child{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

/*Main-Pricing-Card*/
.main-pricing-card{
    box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
    border-radius: 5px;
    max-width: 360px;
    padding: 40px 0;
    margin-top: 130px;
    text-align: center;
}

.main-pricing-card h5{
    margin-top: 29px;
    margin-bottom: 0;
}

.main-pricing-card hr{
    margin-top: 30px;
    margin-bottom: 9px;
    max-width: 165px;
    border-color: #e0e0e0;
    margin-right: auto;
    margin-left: auto;
}

.main-pricing-card ul{
    list-style: none;
    margin-bottom: 0;
}

.main-pricing-card li{
    margin-top: 21px;
}

.main-pricing-card span{
    font-size: 32px;
    color: #0f7bff;
    font-weight: 500;
    display: inline-block;
    margin-top: 27px;
}

.main-pricing-card span:first-letter{
    font-size: 16px;
}

.main-pricing-card a{
    width: 165px;
    height: 50px;
    margin-top: 38px;
    font-weight: 700;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*Main-Slider*/

/*Main-News*/
.main-news{

}

/*Main-News-Header*/
.main-news-header{
    margin-top: 152px;
    text-align: center;
    max-width: 731px;
    margin-right: auto;
    margin-left: auto;
}

.main-news-header h2{
    margin-bottom: 0;
    font-weight: 500;
}

.main-news-header p{
    margin-top: 39px;
    margin-bottom: 0;
}

/*Main-News-Important*/
.main-news-important{
    margin-top: 47px;
}

.main-news-important img{
    width: 100%;
}

.main-news-important a{
    text-decoration: none;
}

.main-news-important h4{
    margin-top: 40px;
    margin-bottom: 0;
}
.main-news-important h4:hover{
    color: #0f7bff;
}


.main-news-important p{
    margin-top: 24px;
    margin-bottom: 0;
}

.main-news-important-continue{
    margin-top: 37px;
    width: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.main-news-important-continue img{
    width: 15px;
    height: 11px;
}

/*Main-News-Articles*/
.main-news-articles{
    margin-top: 47px;
    list-style: none;
}

.main-news-articles li{
    margin-top: 40px;
}

.main-news-articles div{
    margin-left: 30px;
}

.main-news-articles img{
    max-width: 165px;
}

.main-news-articles a{
    text-decoration: none;
}

.main-news-articles h5:hover{
    color: #0f7bff;

}

.main-news-articles h5{
    margin-bottom: 0;
}

.main-news-articles p{
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 0;
}

/*Main-Trial*/
.main-trial{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #f5fcfd;
    margin-top: 127px;
}

.main-trial-content{
    max-width: 752px;
}

.main-trial-content h2{
    margin-bottom: 0;
    font-weight: 500;
}

.main-trial-content p{
    margin-top: 24px;
    margin-bottom: 0;
}

.main-trial-content a{
    height: 76px;
    width: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.main-trial-content img{
    margin-left: 10px;
}

/*Footer*/
.footer{
    background-color: #0f7bff;
}

/*Footer-Subscribe*/
.footer-subscribe{
    padding-top: 130px;
}

.footer-subscribe .input-group{
    margin-top: 33px;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
}

.footer-subscribe h1{
    color: #ffffff;
    text-align: center;
}

.footer-subscribe input{
    height: 60px;
    border-radius: 30px 0 0 30px;
    border-width: 2px;
    background-color: transparent;
    border-color: #ffffff;
    padding-left: 33px;
    padding-right: 0;
}

.footer-subscribe input::placeholder{
    color: #ffffff;
}

.footer-subscribe button{
    height: 60px;
    width: 165px;
    border: none;
    border-radius: 0 30px 30px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f7bff;
}

@media all and (max-width: 430px){
    .footer-subscribe button{
        width: auto;
    }
}

/*Footer-End*/
.footer-end{
    margin-top: 130px;
    border-top: 1px solid #ffffff;
    position: relative;
}

.footer-end .container{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100px;
}

.footer-end .row{
    min-height: 70px;
}

.footer-end p{
    color: #ffffff;
    margin-bottom: 0;
}

/*Footer-End-Nav*/
.footer-end-nav{
    list-style: none;
    max-width: 348px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.footer-end-nav li{
}

.footer-end-nav a{
    color: #d8d8d8;
    text-decoration: none;
}

.footer-end-nav a:hover{
    color: #ffffff;
}

/*Footer-End-Links*/
.footer-end-links{
    width: 78px;
    list-style: none;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.footer-end-links i{
    color: #d8d8d8;
}

.footer-end-links i:hover{
    color: #ffffff;
}

/*Footer-Button*/
.footer-button{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.footer-button div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1648px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

.footer-button button{
    height: 45px;
    width: 45px;
    margin-right: 15px;
}